* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Shantell Sans", cursive;
}

.hanging-man {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  background-color: transparent;
  /* border: solid 3px #ccc; */
  border-radius: 15px;
}
.hanging-man-top {
  padding: 15px;
}

.hanging-man-gameover {
  margin: 0 auto;
  width: 60%;
  height: 100%;
  background-color: #ebdada;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-style: italic;
  padding: 32px;
}

.gameover {
  width: 100%;
  height: 80vh;
  background-color: #ebdada;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hanging-man-retry-button {
  padding: 15px;
  background-color: #5e5757;
  border-radius: 25px;
  color: #fcfcfc;
  cursor: pointer;
  transition: 500ms;
  box-shadow: 3px 3px 5px #828080;
}
.hanging-man-retry-button:hover {
  background-color: rgb(37, 37, 37);
  color: rgb(205, 230, 230);
}

.hanging-man-question {
  width: 100%;
  height: 300px;
  border: 2px solid #c4c4c4;
  /* background: linear-gradient(to right, #34dc72, #2ee464); */
  background-color: #e4f5f4;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 30px;
}

.hanging-man-question-content {
  width: 100%;
  padding: 16px;
  min-height: 150px;
  border: 2px solid #0ab84b;
  background-color: #fcfcfc;
  font-size: 28px;
  border-radius: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hanging-man-answer {
  width: 100%;
  padding: 24px;
  letter-spacing: 15px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2c8448;
}
.hanging-man-keyboard-key {
  width: 40px;
  height: 40px;
  font-size: 22px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #ffffff;
  margin: 3px;
  cursor: pointer;
  transition: 500ms;
  box-shadow: 0px 2px 5px #ccc;
}
.hanging-man-keyboard-key:hover {
  background-color: rgb(44, 38, 38);
  color: #ccc;
}

.hanging-man-keyboard {
  margin: 1 auto;
  width: 80%;
  min-height: auto;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

img {
  width: 70%;
  height: 100%;
}

.hanging-man-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 12px 12px 12px 0px;
}
