h1 {
  text-align: center;
  font-style: italic;
  font-size: 46px;
  animation: color-change 2s infinite;
}
@keyframes color-change {
  0% {
    color: red;
  }
  25% {
    color: orange;
  }
  50% {
    color: yellow;
  }
  75% {
    color: green;
  }
  100% {
    color: blue;
  }
}

.game-over-modal-content {
  display: flex;
  padding: 20px;
  justify-content: space-around;
  align-items: center;
}

.game-over-modal-content img {
  width: 250px;
}

.game-over-modal-content-text {
  text-align: center;
  align-content: center;
  font-size: 28px;
  box-shadow: 5px 5px 5px 5px gray;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 12px;
}

.game-over-modal-content-text span {
  animation: color-change 2s infinite;
  font-style: italic;
}
@keyframes color-change {
  0% {
    color: red;
  }
  25% {
    color: orange;
  }
  50% {
    color: yellow;
  }
  75% {
    color: green;
  }
  100% {
    color: blue;
  }
}
